$answer-div-background: rgb(153, 152, 152);

@mixin gridDisplay() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid $answer-div-background;
  transition: 0.3s;

  &.zero {
    grid-column: 1 / 3;
  }

  &.operator {
    background-color: rgb(238, 164, 26);
  }

  &.number {
    background-color: #e4dfdf;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.calculator-container {
  max-width: 500px;
  margin: 0 auto;

  .answer-div {
    background-color: $answer-div-background;
    text-align: right;
    color: #fff;
    padding: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  .first-div,
  .second-div,
  .third-div,
  .fourth-div,
  .fifth-div {
    @include gridDisplay;
  }
}
