.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-bottom: 10px;
    .nav-title {
        font-size: 3rem;
        text-decoration: none;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        li {
            list-style-type: none;;
            &:nth-child(1),
            &:nth-child(2) {
                border-right: 2px solid gray;
                margin: 0 10px;
                padding-right: 20px;
            }
            a {
                text-decoration: none;
            }
            .active {
                color: orangered;
                text-decoration: underline;
            }
        }
    }
}
