.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  margin-bottom: 10px;
}

.nav-container .nav-title {
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
  color: #8f8989;
}

.nav-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.nav-container ul li {
  list-style-type: none;
}

.nav-container ul li:nth-child(1),
.nav-container ul li:nth-child(2) {
  border-right: 2px solid gray;
  margin: 0 10px;
  padding-right: 20px;
}

.nav-container ul li a {
  text-decoration: none;
  color: #8f8989;
}

.nav-container ul li .active {
  color: #ff4500;
  text-decoration: underline;
}

@media only screen and (max-width: 710px) {
  .nav-container .nav-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 551px) {
  .nav-container {
    padding: 1rem;
  }

  .nav-container .nav-title {
    font-size: 1.2rem;
  }
}
